@{
		ViewData["Title"] = "Gardener Details";
}

@model BackyardGleanersClient.Models.Gardener

<h3>Welcome to @Model.Name's Backyard!</h3>

<img src=@Model.ProfilePic />

<p>@Model.Description</p>

<p>@Model.Food</p>
<p>@Model.Availability</p>
<p>@Model.Location</p>
<p>@Model.Contact</p>

<p>@Html.ActionLink("Return to all Gardeners", "Index")</p>

@* look into bootstrap Hero style for this page, this is just boilerplate *@